<div class="reply">
  <div class="card-body">
    <h6 class="card-title"><a href="/profile/{{reply.user}}">{{reply.user}}</a></h6>
    <h3 class="card-title">{{reply.title}}</h3>
    <p class="card-text"><small class="text-muted">Posted {{reply.pub_date}}</small> </p>
    <p class="card-text"><span id="likecount{{reply.id}}">{{ reply.liked_set.count }}</span> Likes {{ liked_by_user.count }}
    {% if user.is_authenticated %}
    {% if user != reply.user %}
    {% if user.username in reply.favourite_list %}
      <a href="/unfavourite_reply/{{reply.id}}"><button type="button" class="btn btn-warning like-btn">Favourited</button></a>
    {% else %}
      <a href="/favourite_reply/{{reply.id}}"><button type="button" class="btn btn-outline-warning like-btn">Favourite?</button></a>
    {% endif %}
    {% if user.username in reply.like_list %}
      <button id="unlikebutton{{reply.id}}" onclick="unlike_reply({{reply.id}})" type="button" class="btn btn-success like-btn">Liked</button>
    {% else %}
      <button id="likebutton{{reply.id}}" onclick="like_reply({{reply.id}})" type="button" class="btn btn-outline-success like-btn">Like</button>
    {% endif %}
    {% endif %}
    {% if user == reply.user %}
        <a href="/delete_reply/{{reply.id}}"><button type="button" class="btn btn-danger like-btn">Delete Reply</button></a>
    {% endif %}
    {% endif %}
  </div>
  <img class="card-img-bottom" src="/media/{{ reply.image }}" alt="{{reply.title}}">
</div>
