<div class="reply">
        <div class="card-body">
          <h6 class="card-title"><a href="/profile/{{reply.user}}">{{reply.user}}</a></h6>
          <h3 class="card-title">{{reply.title}}</h3>
          <p class="card-text"><small class="text-muted">Posted {{reply.pub_date}}</small> </p>
          <p class="card-text"><span id="likecount{{reply.id}}">{{ reply.liked_set.count }}</span> Likes {{ liked_by_user.count }}</p>
        </div>
        <img class="card-img-bottom" src="/media/{{ reply.image }}" alt="{{reply.title}}">
</div>