<div class="upload_reply">
    <div class="card-body">
        <div class="form-group">
            <label for="titleInput">Title:</label>
            <input type="text" class="form-control" id="titleInput">
        </div>
        <p class="card-text"><small class="text-muted">Click image to upload.</small> <button type="button" class="btn btn-primary like-btn">Post</button></p>
    </div>
    <img class="card-img-bottom" src="media/upload.png" alt="Card image cap" > <!--Currently hardcoded for upload image-->
</div>