{% load static %}

<!DOCTYPE html>

{% block html %}
<html lang="en">

    {% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        {% block title %}{% endblock %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/main.css' %}"

        {% block extra_css %}{% endblock %}
    </head>
    {% endblock %}

    {% block body %}
    <body>
        {% block nav %}
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand site-title" href="/">PhotoshopBattles</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="/new_post">Add Battle!<span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
      <li class="nav-item active">
        <a class="nav-link" href="/leaderboard">Leaderboards<span class="sr-only">(current)</span></a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item active">
          <a class="nav-link" href="/profile/{{user.username}}">Profile<span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav m1-auto">
    {% if not user.is_authenticated %}
        <li class="nav-item">
        <a class="btn btn-outline-primary" href="/account/login">Login</a>
      </li>
       <li class="nav-item">
        <a class="btn btn-primary signup-button" href="/account/register">Signup</a>
      </li>
    {% else %}
        <li class="nav-item">
        <a class="nav-link" href="/profile/{{user.username}}">{{ user.username }}</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-primary logout-button" href="/account/logout">Logout</a>
      </li>
    {% endif %}
    </ul>
  </div>
</nav>
        {% endblock %}

        {% block navbar_after %}{% endblock %}

        {% block body_content %}
            <div class="container">
                {% block container %}{% endblock %}
            </div>
        {% endblock %}

        {% block foot %}
            <footer>
                {% block footer %}
                    
                {% endblock %}
            </footer>
        {% endblock %}
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
                <script>
          function favourite(id) {
              $.ajax({
                method: "GET",
                url: `/favourite_reply/${id}`,
                success: function(data) {
                $(`#favouritebutton${id}`).removeClass('btn-outline-warning')
                $(`#favouritebutton${id}`).addClass('btn-warning')
                $(`#favouritebutton${id}`).html("Favourited")
                $(`#favouritebutton${id}`).attr("onclick",`unfavourite(${id})`)
                $(`#favouritebutton${id}`).attr("id",`unfavouritebutton${id}`)
                }
              })
            };

            function unfavourite(id) {
              $.ajax({
                method: "GET",
                url: `/unfavourite_reply/${id}`,
                success: function(data) {
                $(`#unfavouritebutton${id}`).removeClass('btn-warning')
                $(`#unfavouritebutton${id}`).addClass('btn-outline-warning')
                $(`#unfavouritebutton${id}`).html("Favourite?")
                $(`#unfavouritebutton${id}`).attr("onclick",`favourite(${id})`)
                $(`#unfavouritebutton${id}`).attr("id",`favouritebutton${id}`)
                }
              })
            };

          function like_reply(id) {
              $.ajax({
                method: "GET",
                url: `/like_reply/${id}`,
                success: function(data) {
                $(`#likecount${id}`).contents()[0].textContent=data.likes
                $(`#likebutton${id}`).removeClass('btn-outline-success')
                $(`#likebutton${id}`).addClass('btn-success')
                $(`#likebutton${id}`).html("Liked")
                $(`#likebutton${id}`).attr("onclick",`unlike_reply(${id})`)
                $(`#likebutton${id}`).attr("id",`unlikebutton${id}`)
                }
              })
            };

            function unlike_reply(id) {
              $.ajax({
                method: "GET",
                url: `/unlike_reply/${id}`,
                success: function(data) {
                $(`#likecount${id}`).contents()[0].textContent=data.likes
                $(`#unlikebutton${id}`).removeClass('btn-success')
                $(`#unlikebutton${id}`).addClass('btn-outline-success')
                $(`#unlikebutton${id}`).html("Like")
                $(`#unlikebutton${id}`).attr("onclick",`like_reply(${id})`)
                $(`#unlikebutton${id}`).attr("id",`likebutton${id}`)
                }
              })
            };
        </script>
        {% block extra_js %}{% endblock %}

    </body>
    {% endblock %}

</html>
{% endblock %}
