{% extends 'accounts/base_layout.html' %}

{% block container %}
       
        <div class="row justify-content-sm-center">

          <div class="col-sm-8">
          <center>
          <img src="/media/{{profile.image}}" width="140" height="140">
        <h3>{{user_object.username}}</h3>
        <em>{{profile.bio}}</em>
        <br><br>
        {% if user_object.username == user.username %}
          <a href="/account/edit-profile" class="btn btn-primary btn-md" role="button" aria-disabled="true">Edit Profile</a>
        {% endif %}
        </center><br>
            <h4>Posts by {{user_object.username}}</h4>
            {% for post in posts_by_user %}
              {% include 'accounts/post.html' %}

            {% endfor %}
          </div>
        </div>
		
    </div>
{% endblock %}